---
layout: default
---

{{ content }}

{% assign postsByYear = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}

{% for year in postsByYear %}
  <h2 class="year">{{ year.name }}</h2>
  <ul class="post-list">
    {% for post in year.items %}
      <li class="post-item">
        <span class="post-date">{{ post.date | date: "%b %d" }}</span>
        <span class="post-title">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </span>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
